<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Web</title>
</head>
<link rel="stylesheet" href="/static/plug_in/up_slider/src/camroll_slider.css">
<style type="text/css">
    #my-slider {
        width: 100%;
        height: 404px;
        color: white;
    }

    @media (max-width: 640px) {

        #my-slider .crs-bar-roll-current {
            width: 38px;
            height: 38px;
        }

        #my-slider .crs-bar-roll-item {
            width: 30px;
            height: 30px;
        }
    }
</style>

<body>
<!--上方的轮播图-->
<div>
    <div id="my-slider" class="crs-wrap">
        <div class="crs-screen">
            <div class="crs-screen-roll">
                <div class="crs-screen-item" style="background-image: url('/static/images/up_slider/3.jpg')">
                    <div class="crs-screen-item-content"><h1>Lorem...</h1></div>
                </div>
            </div>
        </div>
        <div class="crs-bar">
            <div class="crs-bar-roll-current"></div>
            <div class="crs-bar-roll-wrap">
                <div class="crs-bar-roll">
                    <div class="crs-bar-roll-item"
                         style="background-image: url('/static/images/up_slider/2.jpg')"></div>
                </div>
            </div>
        </div>
        <div class="crs-bar">
            <div class="crs-bar-roll-current"></div>
            <div class="crs-bar-roll-wrap">
                <div class="crs-bar-roll">
                    <div class="crs-bar-roll-item"
                         style="background-image: url('/static/images/up_slider/3.jpg')"></div>
                </div>
            </div>
        </div>
        <div class="crs-bar">
            <div class="crs-bar-roll-current"></div>
            <div class="crs-bar-roll-wrap">
                <div class="crs-bar-roll">
                    <div class="crs-bar-roll-item"
                         style="background-image: url('/static/images/up_slider/4.jpg')"></div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

<script src="/static/plug_in/up_slider/js/jquery-1.11.0.min.js"></script>
<script src="/static/plug_in/up_slider/src/camroll_slider.js"></script>

<script>
    $(function () {
        $("#my-slider").camRollSlider();
    })
</script>

</html>